output/
.pyc
.DS
db.sqlite3
*.sql
!docker/mysql/initdb.d/init.sql
docker/mysql/data
docker/app/log
*.pyc
media/
collected_static/
__pycache__/

### venv ###
env/
### mac
.DS_Store

### vscode
.vscode

ios/tests.py
deploy.json

.idea/

dump.rdb
debug.log

*.ipynb
.ipynb


venv

robots.txt

.coverage
CLAUDE.md